section#overview {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
}

div#academy-title {
    text-align: center;
    color: #321f41;
}

div#academy-title h1 {
    font-weight: bold;
}

div#academy-title p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

div#academy-list {
    display: block;
}

div.academy {
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #f7f4fa;
    align-items: center;
    width: 50%;
}

div.academy-p {
    padding-left: 50px;
}

div.academy-p img {
    width: 170px;
    filter: grayscale(100%);
}

div#academy-e {}

@media (min-width: 451px) and (max-width: 758px) {
    div#academy-title {
        text-align: center;
        color: #321f41;
    }
    div#academy-title h1 {
        font-weight: bold;
        font-size: 20x;
    }
    div#academy-title p {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
    }
    div.academy {}
    div#academy-p {
        display: block;
    }
    div#academy-e {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    div.academy {
        display: block !important;
        flex-direction: unset;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div#academy-p {
        display: block;
    }
    div#academy-e {
        display: block;
    }
}