section#overview {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
}

div#academy-title {
    text-align: center;
    color: #321f41;
}

div#academy-title p#at-h {
    font-size: 25px;
    font-weight: bold;
}

div#academy-title p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

div#academy-list {
    display: block;
}

div.academy {
    display: flex;
    flex-direction: row;
    height: 220px;
    align-items: center;
    width: 45%;
}

div.academy-p {
    padding-left: 50px;
}

div.academy-p img {
    width: 170px;
    filter: grayscale(100%);
}

div.academy-e {
    padding-left: 50px;
}

p.a-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

p.a-cate {
    font-family: 'Anton', sans-serif;
    color: #b05340;
    font-size: 20px;
    /* font-weight: bold; */
}

p.a-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

@media (min-width: 451px) and (max-width: 758px) {
    div#academy-title p#at-h {
        font-weight: bold;
        font-size: 20px !important;
    }
    div#academy-title p {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
    }
    div.academy {
        display: flex;
        flex-direction: row;
        height: 180px;
        align-items: center;
        width: 100%;
    }
    div.academy-p {
        padding-left: 30px;
    }
    div.academy-p img {
        width: 120px;
        filter: grayscale(100%);
    }
    div.academy-e {
        padding-left: 30px;
    }
    p.a-title {
        font-size: 17px;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
    }
    p.a-cate {
        font-family: 'Anton', sans-serif;
        color: #b05340;
        font-size: 17px;
        /* font-weight: bold; */
    }
    p.a-text {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    div#academy-title p#at-h {
        font-weight: bold;
        font-size: 20px !important;
    }
    div#academy-title p {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
    }
    div.academy {
        display: flex;
        flex-direction: row;
        height: 180px;
        align-items: center;
        width: 100%;
    }
    div.academy-p {
        padding-left: 20px;
    }
    div.academy-p img {
        width: 120px;
        filter: grayscale(100%);
    }
    div.academy-e {
        padding-left: 20px;
    }
    p.a-title {
        font-size: 15px;
        font-weight: bold;
        font-family: 'Noto Sans KR', sans-serif;
    }
    p.a-cate {
        font-family: 'Anton', sans-serif;
        color: #b05340;
        font-size: 15px;
        /* font-weight: bold; */
    }
    p.a-text {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
    }
}