section#about {
    display: flex;
    flex-direction: row;
}

div#about-title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 50px 60px 70px;
}

div#about-title h3 {
    font-size: 90px;
    font-weight: bold;
}

div.about {
    margin-right: 200px;
    padding: 60px 0 60px 0;
}


/* div.about {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
} */

div#about1 {
    padding: 10px;
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 50px 15px 50px;
}

div#about2 {
    padding: 10px;
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 50px 15px 50px;
}

div#about3 {
    padding: 10px;
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 50px 15px 50px;
}