div#footer {
    margin: 0 auto;
    text-align: center;
}


/* div#footer-logo {
    padding-top: 10px;
} */

div#footer-logo img {
    width: 90px;
    height: auto;
}

div#footer-info {
    padding-top: 10px;
}

div#footer-info span {
    font-size: 12px;
}

div#copyright {
    padding-top: 10px;
    margin-bottom: 20px;
}

div#copyright span {
    font-size: 12px;
}

@media screen and (max-width: 450px) {
    div#footer-logo img {
        width: 55px;
        height: auto;
    }
    div#footer-info span {
        font-size: 11px;
    }
    div#copyright span {
        font-size: 11px;
    }
}