div#card-nav {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

div.card {
    width: 370px;
    height: 370px;
    margin-right: 23px;
}

div.card img {
    width: 370px;
    height: 370px;
}