div#model-title {
    margin: 60px 0 60px 0;
    text-align: center;
    background-color: #321f41;
    color: ivory;
}

div.model-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
}

div.model-img {
    width: 30%;
}

div#model1 {
    background-image: url('../../image/kimharin-e2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: grayscale(100%);
}

div#model2 {
    background-image: url('../../image/byulna-e2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: grayscale(100%);
}

div#model3 {
    background-image: url('../../image/kimminjoo-e2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: grayscale(100%);
}

div#model4 {
    background-image: url('../../image/kimseolhee-e.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: grayscale(100%);
}

div#model5 {
    background-image: url('../../image/yeonhyeyoon-e.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: grayscale(100%);
}

div#model6 {
    background-image: url('../../image/kwoneungyeung-e.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    filter: grayscale(100%);
}


/* div.model-img img {
    width: 100;
    height: auto;
} */

@media (min-width: 0px) and (max-width: 758px) {
    div#model {
        justify-content: center;
        text-align: center;
    }
    div.model-line {
        display: block !important;
        flex-direction: unset;
        justify-content: center;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    div.model-img {
        margin-top: 30px !important;
        margin-bottom: 10px !important;
        width: 80%;
        margin: auto;
    }
}