div.model-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.model-img {
    padding-top: 20px;
    padding-bottom: 30px;
}

div.model-img img {
    width: 330px;
    height: auto;
}