section#overview {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 50px 60px 70px;
}

div#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div#about-title {
    display: block;
    padding-left: 60px;
    padding-top: 170px;
}

div#about-title h1 {
    font-size: bold;
    color: #300d00;
}

div#about-h {
    border: 2px solid #eeeeee;
    background-image: url('../../image/about.jpg');
    background-repeat: no-repeat;
    background-size: 450px;
    width: 450px;
    height: 300px;
}

div#about-h h3 {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px #c4aaa1;
    color: #eeeeee;
}

div#about-m {
    display: none;
}

div#about-p {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 1.8em;
}


/* div.about {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
} */

div#about-p1 {
    color: #784C9E;
}

div#about-p2 {
    color: #9e664c;
}

div#about-p3 {
    color: #784c9e;
}

@media (min-width: 451px) and (max-width: 758px) {
    div#about-title {
        display: block;
        padding-left: 0;
        text-align: center;
        padding-top: 170px;
    }
    div#about {
        display: block !important;
        flex-direction: unset;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div#about-h {
        display: block;
        border: 2px solid #eeeeee;
        background-image: url('../../image/about.jpg');
        background-repeat: no-repeat;
        background-size: 345px;
        width: 345px;
        height: 230px;
    }
    div#about-h h3 {
        display: none !important;
    }
    div#about-m {
        display: block !important;
        color: #6500c9;
        font-size: 30px;
        padding-top: 15px;
        padding-left: 0;
        text-align: center;
    }
    div#about-p {
        display: block;
        padding-top: 30px;
        padding-left: 0;
    }
}

@media screen and (max-width: 450px) {
    div#about-title {
        display: block;
        padding-left: 0;
        text-align: center;
        padding-top: 150px;
    }
    div#about {
        display: block !important;
        flex-direction: unset;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div#about-h {
        display: block;
        border: 2px solid #eeeeee;
        background-image: url('../../image/about.jpg');
        background-repeat: no-repeat;
        background-size: 270px;
        width: 270px;
        height: 180px;
    }
    div#about-h h3 {
        display: none !important;
    }
    div#about-m {
        display: block !important;
        color: #6500c9;
        font-size: 25px;
        padding-top: 15px;
        padding-left: 0;
        text-align: center;
    }
    div#about-p {
        display: block;
        padding-top: 30px;
        padding-left: 0;
    }
}