section#overview {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 50px 60px 70px;
}

div#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div#about-h {
    border: 2px solid #eeeeee;
    background-image: url('../../image/about.jpg');
    background-repeat: no-repeat;
    background-size: 450px;
    width: 450px;
    height: 300px;
}

div#about-h h3 {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px #c4aaa1;
    color: #eeeeee;
}

div#about-p {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 1.8em;
}


/* div.about {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
} */

div#about-p1 {
    color: #784C9E;
}

div#about-p2 {
    color: #9e664c;
}

div#about-p3 {
    color: #784c9e;
}

@media screen and (max-width: 758px) {
    div#about {
        display: block !important;
        flex-direction: unset;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    div#about-h {
        display: block;
        border: 2px solid #eeeeee;
        background-image: url('../../image/about.jpg');
        background-repeat: no-repeat;
        background-size: 345px;
        width: 345px;
        height: 230px;
    }
    div#about-h h3 {
        display: block;
        padding-top: 7px;
        padding-left: 7px;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 1px 1px #c4aaa1;
        color: #eeeeee;
    }
    div#about-p {
        display: block;
        padding-top: 30px;
        padding-left: 5px;
    }
}